Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/AnimStarterPack/
Content/StarterBundle/
Content/FPS_Weapon_Bundle/
Content/WinterForestSet/Maps/
Content/WinterForestSet/Materials/M_MASTER_LANDSCAPE.uasset
